# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# tests files Ignore
Ultimate_TortureTest.cpp
stress_test.cpp
Ultimate_Torture_Test.cpp

printf "\n# local test files\nstress_test.cpp\nUltimate_TortureTest.cpp\nUltimate_Torture_Test.cpp\n" >> .gitignore

*.zip